{% extends 'base.html' %}

{% block header %}
<div class="indexdiv">
  <h2>{% block title %}Index: {% endblock %}</h2>
  <ul class="indexdivul">
    <span><li class="indexdivli"><a href="{{ url_for('views.buildingsupply') }}">Building Supply</a></li></span>
    <span><li class="indexdivli"><a href="{{ url_for('views.grocery') }}">Grocery</a></li></span>
    <span><li class="indexdivli"><a href="{{ url_for('views.household') }}">Household</a></li></span>
    <span><li class="indexdivli"><a href="{{ url_for('views.vehicle') }}">Vehicle</a></li></span>
  </ul>
</div>  
  
{% endblock %}

{% block content %}
<h3 id="indexmessage">Choose a list.</h3>
{% endblock %}