{% extends 'base.html' %}

{% block header %}
<nav class="navbar navbar-expand-sm bg-light border-bottom">
  <h2 class="ms-5 text-nowrap">{% block title %}{{tablename}} LISTS{% endblock %}</h2>
  <div class="nav container-fluid justify-content-end"> 
  {% if g.user %}
    <a class="action me-5" href="{{ url_for('grocery.creategrocery') }}">New</a>
  {% endif %}
  </div>
</nav>  
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="ms-5">
      <nav class="navbar navbar-expand-sm">
        <div>
          <h3 class="text-info text-nowrap">{{ post['category'] }}</h3>
          <div class="about fst-italic text-nowrap">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        <div class="nav container-fluid justify-content-end">
          {% if g.user['id'] == post['author_id'] %}
          <a class="action  me-5" href="{{ url_for('grocery.updategrocery', id=post['id']) }}">Edit</a>
        {% endif %}
        </div>       
      </nav>
      <div style="white-space: pre-wrap;">{{ post['items_text'] }}</div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}