{% extends 'base.html' %}

{% block header %}
  <h1 class="ms-5">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container login-container">
  <div class="row">
      <div class="col-md-4 login-form-3">
          <form>
              <div class="form-group mb-3">
                  <input type="text" class="form-control form-control-lg" placeholder="Username" value="" />
              </div>
              <div class="form-group mb-3">
                  <input type="password" class="form-control form-control-lg" placeholder="Password" value="" />
              </div>
              <div class="form-group mb-3">
                  <input type="submit" class="btnSubmit ps-4 pe-4" value="Login" />
              </div>
              <div class="form-group">
                  <a href="#" class="ForgetPwd">Forget Password?</a>
              </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}