{% extends 'base.html' %}

{% block header %}
  <h2 class="ms-5">{% block title %}Log In{% endblock %}</h2>
{% endblock %}

{% block content %}
      <div class="col-md-4 ms-5">
          <form method="post">
              <div class="form-group mb-3">
                  <input type="text" class="form-control form-control-lg" name="username" id="username" placeholder="Username" required/>
              </div>
              <div class="form-group mb-3">
                  <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Password" required/>
              </div>
              <div class="form-group mb-3">
                <button type="submit" class="btn ps-5 pe-5 btn-primary opacity-75">Login</button>
              </div>              
          </form>
      </div>
{% endblock %}